body{
    background-color: #f5d9f5;
    font-family: "Nunito Sans",sans-serif;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
    
    
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color:#ea1c2c;
}
#headgroup h1{
    color: white;
    font-weight:100 ;
    font-size: 3rem;
}
#headgroup h1:nth-of-type(2n){
    color: #ea1c2c;
    font-weight:100 ;
}
@media(max-width:1150px){
    #headgroup h1{
        color: white;
        font-weight:100 ;
        font-size: 2rem;
    }
}

.subtext h2{
    color: #ea1c2c;
    font-size: 2rem;
    font-weight: 100;
}
.subtext .lead{
    color: hsl(310, 85%, 64%);
    font-weight: 100;
    line-height: 2;
}
.content{
    margin-top: 100px;
}
.navbar.scrolled{
    background-color: rgb(222, 192, 222);
}